<a href="https://colab.research.google.com/github/shahzaibahmad80/Python_Basics/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_list = [2,3,5,6,7,45,66,78,4,6,3,7,8]

In [ ]:
my_list

[2, 3, 5, 6, 7, 45, 66, 78, 4, 6, 3, 7, 8]

In [ ]:
my_list

[2, 3, 5, 6, 7, 45, 66, 78, 4, 6, 3, 7, 8]

In [ ]:
my_list[-5:]

[4, 6, 3, 7, 8]

In [ ]:
my_new_list = [2,45,80]

In [ ]:
my_new_list

[2, 45, 80]

In [ ]:
my_list.extend(my_new_list)

In [ ]:
my_list

[2, 3, 5, 6, 7, 45, 66, 78, 4, 6, 3, 7, 8, 2, 45, 80]

In [ ]:
my_list.append(33,44,55)

TypeError: list.append() takes exactly one argument (3 given)

In [ ]:
my_list

[2, 3, 5, 6, 7, 45, 66, 78, 4, 6, 3, 7, 8, 2, 45, 80, 33, 44, 55]

In [ ]:
my_list.insert(5,8)

In [ ]:
my_list

[2, 3, 5, 6, 7, 8, 45, 66, 78, 4, 6, 3, 7, 8, 2, 45, 80, 33, 44, 55]

In [ ]:
my_list.pop(-1)

55

In [ ]:
my_list

[2, 3, 5, 6, 7, 8, 45, 66, 78, 4, 6, 3, 7, 8, 2, 45, 80, 33, 44]

In [ ]:
my_list.pop()

44

In [ ]:
my_list

[2, 3, 5, 6, 7, 8, 45, 66, 78, 4, 6, 3, 7, 8, 2, 45, 80, 33]

In [ ]:
len(my_list)

17

In [ ]:
my_list.remove(45)

In [ ]:
my_list.sort()

In [ ]:
my_list

[2, 2, 3, 3, 4, 5, 6, 6, 7, 7, 8, 8, 33, 45, 66, 78, 80]

In [ ]:
my_list.sorted()

AttributeError: 'list' object has no attribute 'sorted'

In [ ]:
sorted(my_list)

[2, 2, 3, 3, 4, 5, 6, 6, 7, 7, 8, 8, 33, 45, 66, 78, 80]

In [ ]:
reversed(my_list)

In [ ]:
reverse = reversed(my_list)

In [ ]:
reverse

In [ ]:
print(reverse)

<list_reverseiterator object at 0x7e8831dd8040>

In [ ]:
my_list.reverse()

In [ ]:
my_list

[80, 78, 66, 45, 33, 8, 8, 7, 7, 6, 6, 5, 4, 3, 3, 2, 2]

In [ ]:
my_list.clear()

In [ ]:
my_list

[]

**Tuple**

In [ ]:
my_typle = (0, 78, 66, 45, 33, 8, 8, 7, 7, 6, 6, 5, 4, 3, 3, 2, 2)

In [ ]:
my_typle

(0, 78, 66, 45, 33, 8, 8, 7, 7, 6, 6, 5, 4, 3, 3, 2, 2)

In [ ]:
my_typle.count(7)

2

In [ ]:
len(my_typle)

17

In [ ]:
my_typle.index(78)

1

In [ ]:
my_typle[5]

8

In [ ]:
my_typle.sorted()

AttributeError: 'tuple' object has no attribute 'sorted'

In [ ]:
sorted(my_typle)

[0, 2, 2, 3, 3, 4, 5, 6, 6, 7, 7, 8, 8, 33, 45, 66, 78]

**Set (built in python data structure)**

In [ ]:
my_set = {2,3,5,6,7,45,66,78,4,6,3,7,8}

In [ ]:
my_set.add(291)

In [ ]:
my_set

{2, 3, 4, 5, 6, 7, 8, 45, 66, 78, 291}

In [ ]:
my_set.add(10)

In [ ]:
my_set

{2, 3, 4, 5, 6, 7, 8, 10, 45, 66, 78, 291}

In [ ]:
my_set.remove(4)

In [ ]:
my_set

{2, 3, 5, 6, 7, 8, 10, 45, 66, 78, 291}

In [ ]:
my_set.pop()

2

In [ ]:
my_set

{3, 5, 6, 7, 8, 10, 45, 66, 78, 291}

In [ ]:
my_set.remove(291)

In [ ]:
my_set

{3, 5, 6, 7, 8, 10, 45, 66, 78}

In [ ]:
sorted(my_set)

[3, 5, 6, 7, 8, 10, 45, 66, 78]

In [ ]:
reversed(my_set)

TypeError: 'set' object is not reversible

In [ ]:
my_set.update({100,200,300})

In [ ]:
my_set

{3, 5, 6, 7, 8, 10, 45, 66, 78, 100, 200, 300}

In [ ]:
my_set.add(100,900)

TypeError: set.add() takes exactly one argument (2 given)

**Dictionary Built in python DS**

In [ ]:
my_dict = {'name': "shahzaib", 'age': 20, "Address": "Islamabad" }

In [ ]:
my_dict

{'name': 'shahzaib', 'age': 20, 'Address': 'Islamabad'}

In [ ]:
my_dict.add('Country',"USA")

AttributeError: 'dict' object has no attribute 'add'

In [ ]:
my_dict['Country'] = "USA"

In [ ]:
my_dict

{'name': 'shahzaib', 'age': 20, 'Address': 'Islamabad', 'Country': 'USA'}

In [ ]:
my_dict.remove('Country')

AttributeError: 'dict' object has no attribute 'remove'

In [ ]:
my_dict.pop('Country')

'USA'

In [ ]:
my_dict

{'name': 'shahzaib', 'age': 20, 'Address': 'Islamabad'}

In [ ]:
sorted(my_dict)

['Address', 'age', 'name']

In [ ]:
my_dict

{'name': 'shahzaib', 'age': 20, 'Address': 'Islamabad'}

In [ ]:
my_new_sorted = sorted(my_dict)

In [ ]:
my_new_sorted

['Address', 'age', 'name']

In [ ]:
my_dict['city','country'] = "isb" , "pakstan"

In [ ]:
my_dict

{'name': 'shahzaib',
 'age': 20,
 'Address': 'Islamabad',
 ('city', 'country'): ('isb', 'pakstan')}

In [ ]:
print(my_dict)

{'name': 'shahzaib', 'age': 20, 'Address': 'Islamabad', ('city', 'country'): ('isb', 'pakstan')}

In [ ]:
my_dict.update({'city': 'isb', 'country': 'pakistan'})

In [ ]:
my_dict

{'name': 'shahzaib',
 'age': 20,
 'Address': 'Islamabad',
 ('city', 'country'): ('isb', 'pakstan'),
 'city': 'isb',
 'country': 'pakistan'}

In [ ]:
print(my_dict)

{'name': 'shahzaib', 'age': 20, 'Address': 'Islamabad', ('city', 'country'): ('isb', 'pakstan'), 'city': 'isb', 'country': 'pakistan'}

In [ ]:
my_dict.pop('city')

'isb'

In [ ]:
my_dict.pop( ('city', 'country'))

('isb', 'pakstan')

In [ ]:
my_dict

{'name': 'shahzaib', 'age': 20, 'Address': 'Islamabad', 'country': 'pakistan'}

***`Category of Operations`***
1) **Arithmetic Operations**

In [ ]:
a = 5
b = 4

In [ ]:
a+b

9

In [ ]:
a - b

1

In [ ]:
a * b

20

In [ ]:
5/4

1.25

In [ ]:
5//4

1

In [ ]:
a%b

1

In [ ]:
a**b

625

**2) Assignment Operations**

In [ ]:
# = 'this one is used to assign the value'
x = 3 #assign 3 to x 'read from right to left'

In [ ]:
x

3

In [ ]:
x += 9

In [ ]:
x

12

In [ ]:
x -= 2

In [ ]:
x

10

In [ ]:
x /= 3

In [ ]:
x

3.3333333333333335

**3) Comparision Operations - used to compare the values True/False**

In [ ]:
a == b

False

In [ ]:
a > b

True

In [ ]:
a < b

False

In [ ]:
a >= b

True

In [ ]:
a <= b

False

**4) Logical Operations AND OR NOT (Combine Conditions)**

In [ ]:
a

5

In [ ]:
a < 10 and a > 2

True

In [ ]:
a < 10 and a > 4

True

In [ ]:
a > 3 and a < 4

False

In [ ]:
a > 30 or a < 7

True

In [ ]:
a == 5

True

In [ ]:
not a ==5

False

**5) Bitwise Operations** we dont use it often. (we use them in rare cases) and these works on bits (only with integers)

**6) Identity Operations - it checks whether if two variables are the same objects (memory wise)**

In [ ]:
# Operators:  'is' > based on condition/situtaion retrun True/False and 'is not'> based on condition/situtaion retrun True/False
a = [3,4,5]
b = a
c = [3,4,5]

In [ ]:
a is b # its true because the object/reference is the same - # True (same object)

True

In [ ]:
a is c # its false because the object/reference is not the same just the values/content is same

False

In [ ]:
c is a # False (same content, different object)

False

In [ ]:
a == c # becuase content/values are same

True

In [ ]:
c is not a

True

**7) Membership Operations - Checks if the values exists in a sequence**

In [ ]:
''' Operators:  'in' > means'value exist' based on condition/situtaion retrun True/False
and 'not in'>means 'value does not exist' based on condition/situtaion retrun True/False'''
# making list
my_list2 = [2,3,5,6,7,45,66,78,4,6,3,7,8]
78 not in my_list2

False

In [ ]:
6 in my_list2

True

In [ ]:
my_list3 = ['apple' , 'ornage', 'mangoe']

In [ ]:
a = 'apple'
'p' in a

True

In [ ]:
'apple' not in my_list3

False

**Practicing the 'is' and 'is not' on list/tuple/set and dict**

In [ ]:
new_list= [3,4,5,6,32,534,43,332]
new_list1= [3,4,5,6,32,534,43,332]
new_list is new_list1

False

In [ ]:
new_tuple= (3,4,5,6,32,534,43,332)
new_tuple1= (3,4,5,6,32,534,43,332)
new_tuple is new_tuple1

False

In [ ]:
a = 10.5
b = 10.5

In [ ]:
a is b

False

In [ ]:
id(b)

10758024

In [ ]:
id(new_tuple),id(new_tuple1)

(138815299878720, 138815300403376)

In [ ]:
x = ()
y = ()
x is y

True

In [ ]:
c = 258
d = 258
c is d

False

In [ ]:
c = 10
d = 10
c is d

True

In [ ]:
c = 256
d = 256
c is d

True

In [ ]:
c = 'apple is fruit'
d = 'apple is fruit'
c is d

False

In [ ]:
id(c),id(d)

(138815298861232, 138815298861360)

In [ ]:
c == d

True

**Range() funciton in python**

In [ ]:
my_range = range(15,40,3)

In [ ]:
my_range

range(1, 15)

In [ ]:
for i in my_range:
    print(i)

15
18
21
24
27
30
33
36
39

**Comprehensions** Before comprehensions, we wrote longer and less readable code just to create a list or dictionary.

In [ ]:
squares = []
my_range = range(1, 6)

In [ ]:
x

range(1, 6)

In [ ]:
squares_new = []
for i in my_range:
  squares_new.append(i**2)

In [ ]:
squares_new

[1, 4, 9, 16, 25]

**Reverse the range**

In [ ]:
x = range(1,10)
for i in x:
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
y = range(8,0,-1)
for p in y:
  print(p)

8
7
6
5
4
3
2
1

In [ ]:
# printing backwards using reversed function
x = range(2,10)
for i in reversed(x):
  print(i)

9
8
7
6
5
4
3
2

**Comprehensions (Lists/Set/Tuples/Dict)**

comprehension on List

In [ ]:
#older way of doing code before the introducing the comprehensions. its less readable and longer.
squares23 = [] #making list, to store quares getting the values/digits from using the range
x = range(2,10)
for i in x:
  squares23.append(i**2)
print(squares23)

[4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
squares

[4, 9, 16, 25, 36, 49, 64, 81]

###### even numbers examples without comprehensions and with comprehensions

In [ ]:
# below is an example without comprehension. (longer/more code)
even_numbers = [] # list
for x in range(2,10):
  if x % 2 == 0:
    even_numbers.append(x)

In [ ]:
even_numbers

[2, 4, 6, 8]

In [ ]:
## below is an example with 'list' comprehension. (shorter/less code)
even_numbers_comp = [x**2 for x in range(2,33)if x % 2 == 0]
even_numbers_comp

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024]

In [ ]:
# Comprehesnions makes the code shorter and more readable,cleaner and easier to understand
squares0921 = [x**2 for x in range(2,10)]

In [ ]:
squares0921

[4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# Comprehensions makes the filtering and mapping easy (same like above)
names = ["Ali", "Shahzaib" ,  "Asad", "Anas"]
Upper_Case_Names  = [name.upper() for name in names if len(name)>3]
Upper_Case_Names

['SHAHZAIB', 'ASAD', 'ANAS']

**1) LIST Comprehension**

In [ ]:
numbers= [3,5,7,8,9]
squares= [x**2 for x in numbers]
squares

[9, 25, 49, 64, 81]

**2) SET Comprehension (we use this when we want smth'Sqaures'but without duplicates)**

In [ ]:
#for set > {expression for item in iterable if condition}
nums = [3,4,5,3,4,7,8,9,20]
my_newSet = {x**2 for x in nums}
my_newSet

{9, 16, 25, 49, 64, 81, 400}

**3) DICTIONARY Comprehensions**

In [ ]:
# exp-1 for dict > {key_expression: value_expression for item in iterable if condition}
nums = [2,3,4,5,6]
square_dict = {x:x**2 for x in nums if x%2 ==0}
square_dict

{2: 4, 4: 16, 6: 36}

In [ ]:
#exp -2
#Convert a list of names into a dictionary where keys are names, and values are lengths of those names:
names_list = ["Asad","Ali","Ahmad","Anas","Shahzaib"]
name_lengths= {name:len(name) for name in names_list }
name_lengths

{'Asad': 4, 'Ali': 3, 'Ahmad': 5, 'Anas': 4, 'Shahzaib': 8}

**Tuple Comprehension - There is no dedicated tuple comprehension in Python.**

In [ ]:
#If we try this:
t = (x**2 for x in range(5))
print(type(t))  # Output: <class 'generator'>
#It actually creates a generator, not a tuple.

<class 'generator'>

In [ ]:
# So how to get a tuple?
#We can still build a tuple using list comprehension + tuple() constructor:
squares = tuple(x**2 for x in range(5))
print(squares)  # Output: (0, 1, 4, 9, 16)