<a href="https://colab.research.google.com/github/shahzaibahmad80/Python_Basics/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
my_list = [2,3,5,6,7,45,66,78,4,6,3,7,8]

In [2]:
my_list

[2, 3, 5, 6, 7, 45, 66, 78, 4, 6, 3, 7, 8]

In [3]:
my_list

[2, 3, 5, 6, 7, 45, 66, 78, 4, 6, 3, 7, 8]

In [4]:
my_list[-5:]

[4, 6, 3, 7, 8]

In [5]:
my_new_list = [2,45,80]

In [6]:
my_new_list

[2, 45, 80]

In [7]:
my_list.extend(my_new_list)

In [8]:
my_list

[2, 3, 5, 6, 7, 45, 66, 78, 4, 6, 3, 7, 8, 2, 45, 80]

In [9]:
my_list.append(33,44,55)

TypeError: list.append() takes exactly one argument (3 given)

In [ ]:
my_list

In [ ]:
my_list.insert(5,8)

In [ ]:
my_list

In [ ]:
my_list.pop(-1)

In [ ]:
my_list

In [ ]:
my_list.pop()

In [ ]:
my_list

In [ ]:
len(my_list)

In [ ]:
my_list.remove(45)

In [ ]:
my_list.sort()

In [ ]:
my_list

In [ ]:
my_list.sorted()

In [ ]:
sorted(my_list)

In [ ]:
reversed(my_list)

In [ ]:
reverse = reversed(my_list)

In [ ]:
reverse

In [10]:
print(reverse)

NameError: name 'reverse' is not defined

In [ ]:
my_list.reverse()

In [11]:
my_list

[2, 3, 5, 6, 7, 45, 66, 78, 4, 6, 3, 7, 8, 2, 45, 80]

In [12]:
my_list.clear()

In [13]:
my_list

[]

**Tuple**

In [14]:
my_typle = (0, 78, 66, 45, 33, 8, 8, 7, 7, 6, 6, 5, 4, 3, 3, 2, 2)

In [15]:
my_typle

(0, 78, 66, 45, 33, 8, 8, 7, 7, 6, 6, 5, 4, 3, 3, 2, 2)

In [16]:
my_typle.count(7)

2

In [17]:
len(my_typle)

17

In [18]:
my_typle.index(78)

1

In [19]:
my_typle[5]

8

In [20]:
my_typle.sorted()

AttributeError: 'tuple' object has no attribute 'sorted'

In [21]:
sorted(my_typle)

[0, 2, 2, 3, 3, 4, 5, 6, 6, 7, 7, 8, 8, 33, 45, 66, 78]

**Set (built in python data structure)**

In [22]:
my_set = {2,3,5,6,7,45,66,78,4,6,3,7,8}

In [23]:
my_set.add(291)

In [24]:
my_set

{2, 3, 4, 5, 6, 7, 8, 45, 66, 78, 291}

In [25]:
my_set.add(10)

In [26]:
my_set

{2, 3, 4, 5, 6, 7, 8, 10, 45, 66, 78, 291}

In [27]:
my_set.remove(4)

In [28]:
my_set

{2, 3, 5, 6, 7, 8, 10, 45, 66, 78, 291}

In [29]:
my_set.pop()

2

In [30]:
my_set

{3, 5, 6, 7, 8, 10, 45, 66, 78, 291}

In [31]:
my_set.remove(291)

In [32]:
my_set

{3, 5, 6, 7, 8, 10, 45, 66, 78}

In [33]:
sorted(my_set)

[3, 5, 6, 7, 8, 10, 45, 66, 78]

In [34]:
reversed(my_set)

TypeError: 'set' object is not reversible

In [35]:
my_set.update({100,200,300})

In [36]:
my_set

{3, 5, 6, 7, 8, 10, 45, 66, 78, 100, 200, 300}

In [37]:
my_set.add(100,900)

TypeError: set.add() takes exactly one argument (2 given)

**Dictionary Built in python DS**

In [38]:
my_dict = {'name': "shahzaib", 'age': 20, "Address": "Islamabad" }

In [39]:
my_dict

{'name': 'shahzaib', 'age': 20, 'Address': 'Islamabad'}

In [40]:
my_dict.add('Country',"USA")

AttributeError: 'dict' object has no attribute 'add'

In [41]:
my_dict['Country'] = "USA"

In [42]:
my_dict

{'name': 'shahzaib', 'age': 20, 'Address': 'Islamabad', 'Country': 'USA'}

In [43]:
my_dict.remove('Country')

AttributeError: 'dict' object has no attribute 'remove'

In [44]:
my_dict.pop('Country')

'USA'

In [45]:
my_dict

{'name': 'shahzaib', 'age': 20, 'Address': 'Islamabad'}

In [46]:
sorted(my_dict)

['Address', 'age', 'name']

In [47]:
my_dict

{'name': 'shahzaib', 'age': 20, 'Address': 'Islamabad'}

In [48]:
my_new_sorted = sorted(my_dict)

In [49]:
my_new_sorted

['Address', 'age', 'name']

In [50]:
my_dict['city','country'] = "isb" , "pakstan"

In [51]:
my_dict

{'name': 'shahzaib',
 'age': 20,
 'Address': 'Islamabad',
 ('city', 'country'): ('isb', 'pakstan')}

In [52]:
print(my_dict)

{'name': 'shahzaib', 'age': 20, 'Address': 'Islamabad', ('city', 'country'): ('isb', 'pakstan')}

In [53]:
my_dict.update({'city': 'isb', 'country': 'pakistan'})

In [54]:
my_dict

{'name': 'shahzaib',
 'age': 20,
 'Address': 'Islamabad',
 ('city', 'country'): ('isb', 'pakstan'),
 'city': 'isb',
 'country': 'pakistan'}

In [55]:
print(my_dict)

{'name': 'shahzaib', 'age': 20, 'Address': 'Islamabad', ('city', 'country'): ('isb', 'pakstan'), 'city': 'isb', 'country': 'pakistan'}

In [56]:
my_dict.pop('city')

'isb'

In [57]:
my_dict.pop( ('city', 'country'))

('isb', 'pakstan')

In [58]:
my_dict

{'name': 'shahzaib', 'age': 20, 'Address': 'Islamabad', 'country': 'pakistan'}

***`Category of Operations`***
1) **Arithmetic Operations**

In [59]:
a = 5
b = 4

In [60]:
a+b

9

In [61]:
a - b

1

In [62]:
a * b

20

In [63]:
5/4

1.25

In [64]:
5//4

1

In [65]:
a%b

1

In [66]:
a**b

625

**2) Assignment Operations**

In [67]:
# = 'this one is used to assign the value'
x = 3 #assign 3 to x 'read from right to left'

In [68]:
x

3

In [69]:
x += 9

In [70]:
x

12

In [71]:
x -= 2

In [72]:
x

10

In [73]:
x /= 3

In [74]:
x

3.3333333333333335

**3) Comparision Operations - used to compare the values True/False**

In [75]:
a == b

False

In [76]:
a > b

True

In [77]:
a < b

False

In [78]:
a >= b

True

In [79]:
a <= b

False

**4) Logical Operations AND OR NOT (Combine Conditions)**

In [80]:
a

5

In [81]:
a < 10 and a > 2

True

In [82]:
a < 10 and a > 4

True

In [83]:
a > 3 and a < 4

False

In [84]:
a > 30 or a < 7

True

In [85]:
a == 5

True

In [86]:
not a ==5

False

**5) Bitwise Operations** we dont use it often. (we use them in rare cases) and these works on bits (only with integers)

**6) Identity Operations - it checks whether if two variables are the same objects (memory wise)**

In [87]:
# Operators:  'is' > based on condition/situtaion retrun True/False and 'is not'> based on condition/situtaion retrun True/False
a = [3,4,5]
b = a
c = [3,4,5]

In [88]:
a is b # its true because the object/reference is the same - # True (same object)

True

In [89]:
a is c # its false because the object/reference is not the same just the values/content is same

False

In [90]:
c is a # False (same content, different object)

False

In [91]:
a == c # becuase content/values are same

True

In [92]:
c is not a

True

**7) Membership Operations - Checks if the values exists in a sequence**

In [93]:
''' Operators:  'in' > means'value exist' based on condition/situtaion retrun True/False
and 'not in'>means 'value does not exist' based on condition/situtaion retrun True/False'''
# making list
my_list2 = [2,3,5,6,7,45,66,78,4,6,3,7,8]
78 not in my_list2

False

In [94]:
6 in my_list2

True

In [95]:
my_list3 = ['apple' , 'ornage', 'mangoe']

In [96]:
a = 'apple'
'p' in a

True

In [97]:
'apple' not in my_list3

False

**Practicing the 'is' and 'is not' on list/tuple/set and dict**

In [98]:
new_list= [3,4,5,6,32,534,43,332]
new_list1= [3,4,5,6,32,534,43,332]
new_list is new_list1

False

In [99]:
new_tuple= (3,4,5,6,32,534,43,332)
new_tuple1= (3,4,5,6,32,534,43,332)
new_tuple is new_tuple1

False

In [100]:
a = 10.5
b = 10.5

In [101]:
a is b

False

In [102]:
id(b)

138597887478224

In [103]:
id(new_tuple),id(new_tuple1)

(138597897810912, 138597897810576)

In [104]:
x = ()
y = ()
x is y

True

In [105]:
c = 258
d = 258
c is d

False

In [106]:
c = 10
d = 10
c is d

True

In [107]:
c = 256
d = 256
c is d

True

In [108]:
c = 'apple is fruit'
d = 'apple is fruit'
c is d

False

In [109]:
id(c),id(d)

(138597887518448, 138597887510768)

In [110]:
c == d

True

**Range() funciton in python**

In [111]:
my_range = range(15,40,3)

In [112]:
my_range

range(15, 40, 3)

In [113]:
for i in my_range:
    print(i)

15
18
21
24
27
30
33
36
39

**Comprehensions** Before comprehensions, we wrote longer and less readable code just to create a list or dictionary.

In [114]:
squares = []
my_range = range(1, 6)

In [115]:
x

()

In [116]:
squares_new = []
for i in my_range:
  squares_new.append(i**2)

In [117]:
squares_new

[1, 4, 9, 16, 25]

**Reverse the range**

In [118]:
x = range(1,10)
for i in x:
  print(i)

1
2
3
4
5
6
7
8
9

In [119]:
y = range(8,0,-1)
for p in y:
  print(p)

8
7
6
5
4
3
2
1

In [120]:
# printing backwards using reversed function
x = range(2,10)
for i in reversed(x):
  print(i)

9
8
7
6
5
4
3
2

**Comprehensions (Lists/Set/Tuples/Dict)**

comprehension on List

In [121]:
#older way of doing code before the introducing the comprehensions. its less readable and longer.
squares23 = [] #making list, to store quares getting the values/digits from using the range
x = range(2,10)
for i in x:
  squares23.append(i**2)
print(squares23)

[4, 9, 16, 25, 36, 49, 64, 81]

In [122]:
squares

[]

###### even numbers examples without comprehensions and with comprehensions

In [123]:
# below is an example without comprehension. (longer/more code)
even_numbers = [] # list
for x in range(2,10):
  if x % 2 == 0:
    even_numbers.append(x)

In [124]:
even_numbers

[2, 4, 6, 8]

In [125]:
## below is an example with 'list' comprehension. (shorter/less code)
even_numbers_comp = [x**2 for x in range(2,33)if x % 2 == 0]
even_numbers_comp

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024]

In [126]:
# Comprehesnions makes the code shorter and more readable,cleaner and easier to understand
squares0921 = [x**2 for x in range(2,10)]

In [127]:
squares0921

[4, 9, 16, 25, 36, 49, 64, 81]

In [128]:
# Comprehensions makes the filtering and mapping easy (same like above)
names = ["Ali", "Shahzaib" ,  "Asad", "Anas"]
Upper_Case_Names  = [name.upper() for name in names if len(name)>3]
Upper_Case_Names

['SHAHZAIB', 'ASAD', 'ANAS']

**1) LIST Comprehension**

In [129]:
numbers= [3,5,7,8,9]
squares= [x**2 for x in numbers]
squares

[9, 25, 49, 64, 81]

**2) SET Comprehension (we use this when we want smth'Sqaures'but without duplicates)**

In [130]:
#for set > {expression for item in iterable if condition}
nums = [3,4,5,3,4,7,8,9,20]
my_newSet = {x**2 for x in nums}
my_newSet

{9, 16, 25, 49, 64, 81, 400}

**3) DICTIONARY Comprehensions**

In [131]:
# exp-1 for dict > {key_expression: value_expression for item in iterable if condition}
nums = [2,3,4,5,6]
square_dict = {x:x**2 for x in nums if x%2 ==0}
square_dict

{2: 4, 4: 16, 6: 36}

In [132]:
#exp -2
#Convert a list of names into a dictionary where keys are names, and values are lengths of those names:
names_list = ["Asad","Ali","Ahmad","Anas","Shahzaib"]
name_lengths= {name:len(name) for name in names_list }
name_lengths

{'Asad': 4, 'Ali': 3, 'Ahmad': 5, 'Anas': 4, 'Shahzaib': 8}

**Tuple Comprehension - There is no dedicated tuple comprehension in Python.**

In [133]:
#If we try this:
t = (x**2 for x in range(5))
print(type(t))  # Output: <class 'generator'>
#It actually creates a generator, not a tuple.

<class 'generator'>

In [134]:
#✅ So how to get a tuple?
#We can still build a tuple using list comprehension + tuple() constructor:
squares = tuple(x**2 for x in range(5))
print(squares)  # Output: (0, 1, 4, 9, 16)

(0, 1, 4, 9, 16)

**Lambda Functions ; lambda arguments: expression** - and 'Normal functions'
map(),filter(),sort() and reduce()

In [135]:
# Normal Functions
def square(x):
  return x * x
square(5)

25

In [136]:
# Lambda Function
square_lamba = lambda x: x*x
square_lamba(7)

49

**map() - to perform action on each item in the iterables. 'changes every item'**
map() > "applies a function to each item in a list, and returns a new list with results"

In [137]:
result  = map(lambda x: x*2, [2,3,4])
result # it does not display the result/values - so we use the list() to open the box and see the result
#list(map(....)) so it converts the map result into a list so we can see and use it.

In [138]:
result

In [139]:
list(result)

[4, 6, 8]

In [140]:
#shopping cart example - addnig the tax (10%tax on each/every item in the cart/list and then returning the new list using lits() func)
prices_list = [200,300,400]
new_prices= list(map(lambda x : x * 1.10, prices_list))#lambda x : x * 1.10 checks each item in list applies/multiply the 10% tax with each single itme
new_prices

[220.00000000000003, 330.0, 440.00000000000006]

**filter() - this function keeps/retunrs only values/records that matches the rule or satsify the condition. it simply filters the list and gives us the result.**

In [141]:
# we wanted to print the people who are > 18 "adults".
age_list = [10,2,20,30,40,13]
adults = list(filter(lambda x: x > 18, age_list)) # lambda x: x > 18 checks each age like 10 -> false (removes), 2 -> false (removed) 13(removes-false)
adults

[20, 30, 40]

**sort() = this function sorts the items in the list based on given situation**
we use this when we want to sort the itme in our own way. like when we wanted to sort a list, but in a special way, like by sorting based on the 'length of word' or based on the 2nd value in a tuple.

In [156]:
# sort list by length of the word
# names = ["ali", "asad", "shahzaib","anas"]
# sorted_1019 = sorted(names, key= lambda name: len(name))
# sorted_1019


words = ['banana', 'kiwi', 'apple','Ikram Hussain','a b']
sorting_words12 = sorted(words, key = lambda x: len(x))
sorting_words12

['a b', 'kiwi', 'apple', 'banana', 'Ikram Hussain']

In [160]:
# sosrt list of (name , age) by age
people = [('Ali',20),('Asad',40),('Ahmad',24),('Shahzaib',23)]
print(people)
sorted_people = sorted(people , key= lambda x: x[1])
print(sorted_people)

[('Ali', 20), ('Asad', 40), ('Ahmad', 24), ('Shahzaib', 23)]
[('Ali', 20), ('Shahzaib', 23), ('Ahmad', 24), ('Asad', 40)]

**reduce() - combine everything into one value. we use this when we wanted to add up or multiply everything in a list to get one single result.**

In [163]:
# adding all numbers
from functools import reduce
numbers_list = [10,20,30,4]
add_up_all = reduce(lambda x,y : x+y, numbers_list)
add_up_all

64

In [166]:
# adding all numbers - without lambda
from functools import reduce
def add(x,y):
  return x+y
total = reduce(add, [1,20,30,200])
total

251