<a href="https://colab.research.google.com/github/shahzaibahmad80/Python_Basics/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_list = [2,3,5,6,7,45,66,78,4,6,3,7,8]

In [ ]:
my_list

[2, 3, 5, 6, 7, 45, 66, 78, 4, 6, 3, 7, 8]

In [ ]:
my_list

[2, 3, 5, 6, 7, 45, 66, 78, 4, 6, 3, 7, 8]

In [ ]:
my_list[-5:]

[4, 6, 3, 7, 8]

In [ ]:
my_new_list = [2,45,80]

In [ ]:
my_new_list

[2, 45, 80]

In [ ]:
my_list.extend(my_new_list)

In [ ]:
my_list

[2, 3, 5, 6, 7, 45, 66, 78, 4, 6, 3, 7, 8, 2, 45, 80]

In [ ]:
my_list.append(33,44,55)

TypeError: list.append() takes exactly one argument (3 given)

In [ ]:
my_list

In [ ]:
my_list.insert(5,8)

In [ ]:
my_list

In [ ]:
my_list.pop(-1)

In [ ]:
my_list

In [ ]:
my_list.pop()

In [ ]:
my_list

In [ ]:
len(my_list)

In [ ]:
my_list.remove(45)

In [ ]:
my_list.sort()

In [ ]:
my_list

In [ ]:
my_list.sorted()

In [ ]:
sorted(my_list)

In [ ]:
reversed(my_list)

In [ ]:
reverse = reversed(my_list)

In [ ]:
reverse

In [ ]:
print(reverse)

NameError: name 'reverse' is not defined

In [ ]:
my_list.reverse()

In [ ]:
my_list

[2, 3, 5, 6, 7, 45, 66, 78, 4, 6, 3, 7, 8, 2, 45, 80]

In [ ]:
my_list.clear()

In [ ]:
my_list

[]

**Tuple**

In [ ]:
my_typle = (0, 78, 66, 45, 33, 8, 8, 7, 7, 6, 6, 5, 4, 3, 3, 2, 2)

In [ ]:
my_typle

(0, 78, 66, 45, 33, 8, 8, 7, 7, 6, 6, 5, 4, 3, 3, 2, 2)

In [ ]:
my_typle.count(7)

2

In [ ]:
len(my_typle)

17

In [ ]:
my_typle.index(78)

1

In [ ]:
my_typle[5]

8

In [ ]:
my_typle.sorted()

AttributeError: 'tuple' object has no attribute 'sorted'

In [ ]:
sorted(my_typle)

[0, 2, 2, 3, 3, 4, 5, 6, 6, 7, 7, 8, 8, 33, 45, 66, 78]

**Set (built in python data structure)**

In [ ]:
my_set = {2,3,5,6,7,45,66,78,4,6,3,7,8}

In [ ]:
my_set.add(291)

In [ ]:
my_set

{2, 3, 4, 5, 6, 7, 8, 45, 66, 78, 291}

In [ ]:
my_set.add(10)

In [ ]:
my_set

{2, 3, 4, 5, 6, 7, 8, 10, 45, 66, 78, 291}

In [ ]:
my_set.remove(4)

In [ ]:
my_set

{2, 3, 5, 6, 7, 8, 10, 45, 66, 78, 291}

In [ ]:
my_set.pop()

2

In [ ]:
my_set

{3, 5, 6, 7, 8, 10, 45, 66, 78, 291}

In [ ]:
my_set.remove(291)

In [ ]:
my_set

{3, 5, 6, 7, 8, 10, 45, 66, 78}

In [ ]:
sorted(my_set)

[3, 5, 6, 7, 8, 10, 45, 66, 78]

In [ ]:
reversed(my_set)

TypeError: 'set' object is not reversible

In [ ]:
my_set.update({100,200,300})

In [ ]:
my_set

{3, 5, 6, 7, 8, 10, 45, 66, 78, 100, 200, 300}

In [ ]:
my_set.add(100,900)

TypeError: set.add() takes exactly one argument (2 given)

**Dictionary Built in python DS**

In [ ]:
my_dict = {'name': "shahzaib", 'age': 20, "Address": "Islamabad" }

In [ ]:
my_dict

{'name': 'shahzaib', 'age': 20, 'Address': 'Islamabad'}

In [ ]:
my_dict.add('Country',"USA")

AttributeError: 'dict' object has no attribute 'add'

In [ ]:
my_dict['Country'] = "USA"

In [ ]:
my_dict

{'name': 'shahzaib', 'age': 20, 'Address': 'Islamabad', 'Country': 'USA'}

In [ ]:
my_dict.remove('Country')

AttributeError: 'dict' object has no attribute 'remove'

In [ ]:
my_dict.pop('Country')

'USA'

In [ ]:
my_dict

{'name': 'shahzaib', 'age': 20, 'Address': 'Islamabad'}

In [ ]:
sorted(my_dict)

['Address', 'age', 'name']

In [ ]:
my_dict

{'name': 'shahzaib', 'age': 20, 'Address': 'Islamabad'}

In [ ]:
my_new_sorted = sorted(my_dict)

In [ ]:
my_new_sorted

['Address', 'age', 'name']

In [ ]:
my_dict['city','country'] = "isb" , "pakstan"

In [ ]:
my_dict

{'name': 'shahzaib',
 'age': 20,
 'Address': 'Islamabad',
 ('city', 'country'): ('isb', 'pakstan')}

In [ ]:
print(my_dict)

{'name': 'shahzaib', 'age': 20, 'Address': 'Islamabad', ('city', 'country'): ('isb', 'pakstan')}

In [ ]:
my_dict.update({'city': 'isb', 'country': 'pakistan'})

In [ ]:
my_dict

{'name': 'shahzaib',
 'age': 20,
 'Address': 'Islamabad',
 ('city', 'country'): ('isb', 'pakstan'),
 'city': 'isb',
 'country': 'pakistan'}

In [ ]:
print(my_dict)

{'name': 'shahzaib', 'age': 20, 'Address': 'Islamabad', ('city', 'country'): ('isb', 'pakstan'), 'city': 'isb', 'country': 'pakistan'}

In [ ]:
my_dict.pop('city')

'isb'

In [ ]:
my_dict.pop( ('city', 'country'))

('isb', 'pakstan')

In [ ]:
my_dict

{'name': 'shahzaib', 'age': 20, 'Address': 'Islamabad', 'country': 'pakistan'}

***`Category of Operations`***
1) **Arithmetic Operations**

In [ ]:
a = 5
b = 4

In [ ]:
a+b

9

In [ ]:
a - b

1

In [ ]:
a * b

20

In [ ]:
5/4

1.25

In [ ]:
5//4

1

In [ ]:
a%b

1

In [ ]:
a**b

625

**2) Assignment Operations**

In [ ]:
# = 'this one is used to assign the value'
x = 3 #assign 3 to x 'read from right to left'

In [ ]:
x

3

In [ ]:
x += 9

In [ ]:
x

12

In [ ]:
x -= 2

In [ ]:
x

10

In [ ]:
x /= 3

In [ ]:
x

3.3333333333333335

**3) Comparision Operations - used to compare the values True/False**

In [ ]:
a == b

False

In [ ]:
a > b

True

In [ ]:
a < b

False

In [ ]:
a >= b

True

In [ ]:
a <= b

False

**4) Logical Operations AND OR NOT (Combine Conditions)**

In [ ]:
a

5

In [ ]:
a < 10 and a > 2

True

In [ ]:
a < 10 and a > 4

True

In [ ]:
a > 3 and a < 4

False

In [ ]:
a > 30 or a < 7

True

In [ ]:
a == 5

True

In [ ]:
not a ==5

False

**5) Bitwise Operations** we dont use it often. (we use them in rare cases) and these works on bits (only with integers)

**6) Identity Operations - it checks whether if two variables are the same objects (memory wise)**

In [ ]:
# Operators:  'is' > based on condition/situtaion retrun True/False and 'is not'> based on condition/situtaion retrun True/False
a = [3,4,5]
b = a
c = [3,4,5]

In [ ]:
a is b # its true because the object/reference is the same - # True (same object)

True

In [ ]:
a is c # its false because the object/reference is not the same just the values/content is same

False

In [ ]:
c is a # False (same content, different object)

False

In [ ]:
a == c # becuase content/values are same

True

In [ ]:
c is not a

True

**7) Membership Operations - Checks if the values exists in a sequence**

In [ ]:
''' Operators:  'in' > means'value exist' based on condition/situtaion retrun True/False
and 'not in'>means 'value does not exist' based on condition/situtaion retrun True/False'''
# making list
my_list2 = [2,3,5,6,7,45,66,78,4,6,3,7,8]
78 not in my_list2

False

In [ ]:
6 in my_list2

True

In [ ]:
my_list3 = ['apple' , 'ornage', 'mangoe']

In [ ]:
a = 'apple'
'p' in a

True

In [ ]:
'apple' not in my_list3

False

**Practicing the 'is' and 'is not' on list/tuple/set and dict**

In [ ]:
new_list= [3,4,5,6,32,534,43,332]
new_list1= [3,4,5,6,32,534,43,332]
new_list is new_list1

False

In [ ]:
new_tuple= (3,4,5,6,32,534,43,332)
new_tuple1= (3,4,5,6,32,534,43,332)
new_tuple is new_tuple1

False

In [ ]:
a = 10.5
b = 10.5

In [ ]:
a is b

False

In [ ]:
id(b)

138597887478224

In [ ]:
id(new_tuple),id(new_tuple1)

(138597897810912, 138597897810576)

In [ ]:
x = ()
y = ()
x is y

True

In [ ]:
c = 258
d = 258
c is d

False

In [ ]:
c = 10
d = 10
c is d

True

In [ ]:
c = 256
d = 256
c is d

True

In [ ]:
c = 'apple is fruit'
d = 'apple is fruit'
c is d

False

In [ ]:
id(c),id(d)

(138597887518448, 138597887510768)

In [ ]:
c == d

True

**Range() funciton in python**

In [ ]:
my_range = range(15,40,3)

In [ ]:
my_range

range(15, 40, 3)

In [ ]:
for i in my_range:
    print(i)

15
18
21
24
27
30
33
36
39

**Comprehensions** Before comprehensions, we wrote longer and less readable code just to create a list or dictionary.

In [ ]:
squares = []
my_range = range(1, 6)

In [ ]:
x

()

In [ ]:
squares_new = []
for i in my_range:
  squares_new.append(i**2)

In [ ]:
squares_new

[1, 4, 9, 16, 25]

**Reverse the range**

In [ ]:
x = range(1,10)
for i in x:
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
y = range(8,0,-1)
for p in y:
  print(p)

8
7
6
5
4
3
2
1

In [ ]:
# printing backwards using reversed function
x = range(2,10)
for i in reversed(x):
  print(i)

9
8
7
6
5
4
3
2

**Comprehensions (Lists/Set/Tuples/Dict)**

comprehension on List

In [ ]:
#older way of doing code before the introducing the comprehensions. its less readable and longer.
squares23 = [] #making list, to store quares getting the values/digits from using the range
x = range(2,10)
for i in x:
  squares23.append(i**2)
print(squares23)

[4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
squares

[]

###### even numbers examples without comprehensions and with comprehensions

In [ ]:
# below is an example without comprehension. (longer/more code)
even_numbers = [] # list
for x in range(2,10):
  if x % 2 == 0:
    even_numbers.append(x)

In [ ]:
even_numbers

[2, 4, 6, 8]

In [ ]:
## below is an example with 'list' comprehension. (shorter/less code)
even_numbers_comp = [x**2 for x in range(2,33)if x % 2 == 0]
even_numbers_comp

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024]

In [ ]:
# Comprehesnions makes the code shorter and more readable,cleaner and easier to understand
squares0921 = [x**2 for x in range(2,10)]

In [ ]:
squares0921

[4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# Comprehensions makes the filtering and mapping easy (same like above)
names = ["Ali", "Shahzaib" ,  "Asad", "Anas"]
Upper_Case_Names  = [name.upper() for name in names if len(name)>3]
Upper_Case_Names

['SHAHZAIB', 'ASAD', 'ANAS']

**1) LIST Comprehension**

In [ ]:
numbers= [3,5,7,8,9]
squares= [x**2 for x in numbers]
squares

[9, 25, 49, 64, 81]

**2) SET Comprehension (we use this when we want smth'Sqaures'but without duplicates)**

In [ ]:
#for set > {expression for item in iterable if condition}
nums = [3,4,5,3,4,7,8,9,20]
my_newSet = {x**2 for x in nums}
my_newSet

{9, 16, 25, 49, 64, 81, 400}

**3) DICTIONARY Comprehensions**

In [ ]:
# exp-1 for dict > {key_expression: value_expression for item in iterable if condition}
nums = [2,3,4,5,6]
square_dict = {x:x**2 for x in nums if x%2 ==0}
square_dict

{2: 4, 4: 16, 6: 36}

In [ ]:
#exp -2
#Convert a list of names into a dictionary where keys are names, and values are lengths of those names:
names_list = ["Asad","Ali","Ahmad","Anas","Shahzaib"]
name_lengths= {name:len(name) for name in names_list }
name_lengths

{'Asad': 4, 'Ali': 3, 'Ahmad': 5, 'Anas': 4, 'Shahzaib': 8}

**Tuple Comprehension - There is no dedicated tuple comprehension in Python.**

In [ ]:
#If we try this:
t = (x**2 for x in range(5))
print(type(t))  # Output: <class 'generator'>
#It actually creates a generator, not a tuple.

<class 'generator'>

In [ ]:
#✅ So how to get a tuple?
#We can still build a tuple using list comprehension + tuple() constructor:
squares = tuple(x**2 for x in range(5))
print(squares)  # Output: (0, 1, 4, 9, 16)

(0, 1, 4, 9, 16)

**Lambda Functions ; lambda arguments: expression** - and 'Normal functions'
map(),filter(),sort() and reduce()

In [ ]:
# Normal Functions
def square(x):
  return x * x
square(5)

25

In [ ]:
def add_fun(x,y):
  result = x+y
  # print(result) # immidiately result
  return result # for later use,we can pass the parameters to this function later like after 20cells just call the function pass the params.

In [ ]:
my_value = add_fun(3,4)
my_value

7

In [ ]:
add_fun(5,8)

13

In [ ]:
# Lambda Function
square_lamba = lambda x: x*x
square_lamba(7)

49

**map() - to perform action on each item in the iterables. 'changes every item'**
map() > "applies a function to each item in a list, and returns a new list with results"

In [ ]:
list_new = [2,3,4,5]
result  = map(lambda x: x*2, list_new)
result # it does not display the result/values - so we use the list() to open the box and see the result
#list(map(....)) so it converts the map result into a list so we can see and use it.

In [ ]:
result

In [ ]:
new_list12 = list(result)

In [ ]:
new_list12

[4, 6, 8, 10]

In [ ]:
list_new,new_list12

([2, 3, 4, 5], [4, 6, 8, 10])

In [ ]:
#shopping cart example - addnig the tax (10%tax on each/every item in the cart/list and then returning the new list using lits() func)
prices_list = [200,300,400]
new_prices= list(map(lambda x : x * 1.10, prices_list))#lambda x : x * 1.10 checks each item in list applies/multiply the 10% tax with each single itme
new_prices

[220.00000000000003, 330.0, 440.00000000000006]

**filter() - this function keeps/retunrs only values/records that matches the rule or satsify the condition. it simply filters the list and gives us the result.**

In [ ]:
# we wanted to print the people who are > 18 "adults".
age_list = [10,2,20,30,40,13]
adults = list(filter(lambda x: x > 18, age_list)) # lambda x: x > 18 checks each age like 10 -> false (removes), 2 -> false (removed) 13(removes-false)
adults

[20, 30, 40]

**sort() = this function sorts the items in the list based on given situation**
we use this when we want to sort the itme in our own way. like when we wanted to sort a list, but in a special way, like by sorting based on the 'length of word' or based on the 2nd value in a tuple.

In [ ]:
# sort list by length of the word
# names = ["ali", "asad", "shahzaib","anas"]
# sorted_1019 = sorted(names, key= lambda name: len(name))
# sorted_1019


words = ['banana', 'kiwi', 'apple','Ikram Hussain','a b']
sorting_words12 = sorted(words, key = lambda x: len(x))
sorting_words12

"""
What happens internally when you do:
python
Copy
Edit
sorted(words, key=lambda x: len(x))
Behind the scenes:

Python creates a list of (key, value) pairs:

bash
Copy
Edit
(6, 'banana'), (5, 'apple'), (4, 'kiwi'), (5, 'mango')
It sorts by the first value of each pair (i.e., the key from the lambda).

Then it returns a list of just the values in the new order.
"""

['a b', 'kiwi', 'apple', 'banana', 'Ikram Hussain']

In [ ]:
# sosrt list of (name , age) by age
people = [('Ali',20),('Asad',40),('Ahmad',24),('Shahzaib',23)]
print(people)
sorted_people = sorted(people , key= lambda x: x[1])
print(sorted_people)

[('Ali', 20), ('Asad', 40), ('Ahmad', 24), ('Shahzaib', 23)]
[('Ali', 20), ('Shahzaib', 23), ('Ahmad', 24), ('Asad', 40)]

**reduce() - combine everything into one value. we use this when we wanted to add up or multiply everything in a list to get one single result.**

In [ ]:
# adding all numbers
from functools import reduce #module and class like functtools is a module .py's every file module. and reduce is a class in that module(.py file). and one class can have funtions as well.
numbers_list = [10,20,30,4]
add_up_all = reduce(lambda x,y : x+y, numbers_list)
add_up_all

64

In [ ]:
# adding all numbers - without lambda
from functools import reduce
def add(x,y):
  return x+y
total = reduce(add, [1,20,30,200])
total

251

In [ ]:
import array as my_arr
int_array = my_arr.array('f', [1.3, 2.3, 3.3])  # Only integers allowed
int_array

array('f', [1.2999999523162842, 2.299999952316284, 3.299999952316284])

In [ ]:
import numpy as np
np_array = np.array([1, 2,2.3,'hi'])  # NumPy array
np_array

array(['1', '2', '2.3', 'hi'], dtype='<U32')

In [ ]:
type(np_array)

numpy.ndarray

In [ ]:
import numpy as np
arr = np.array([1, 2, 3])
arr2 = arr * 2  # Output: array([2, 4, 6])
arr2

array([2, 4, 6])

In [ ]:
arr.shape

(3,)

In [ ]:

# arr = np.array([1, 2, 3])
arr = [1, 2, 3]
arr2 = arr * 2  # Output: array([2, 4, 6])
arr2

[1, 2, 3, 1, 2, 3]

In [ ]:
# import array
import numpy as np
_2D_Array = np.array([[2,4,6,8],[6,8,10,12]])
# _2D_Array
np.reshape(_2D_Array,(4,2))
# myshape = _2D_Array.reshape(8)

# _2D_Array.ndim

array([[ 2,  4],
       [ 6,  8],
       [ 6,  8],
       [10, 12]])

In [ ]:
import numpy as np
_3d_Array = np.array([[[1,2],[3,4]],[[1,2],[3,4]]])
_3d_Array
_d_into_2d = np.reshape(_3d_Array,(4,2))
_d_into_2d

array([[1, 2],
       [3, 4],
       [1, 2],
       [3, 4]])

In [ ]:
_d_into_2d.shape # 4 rows and 2 columns . 4x2 or 4 by 2.

(4, 2)

In [ ]:
this_tuple = (3,4,5,6)
type(this_tuple)

tuple

In [ ]:
def count_up_to(n):
    for i in range(1, n+1):
        yield i

gen = count_up_to(3)
print(next(gen))  # 1

1

In [ ]:
count_up_to(3)

In [ ]:
print(next(gen))  # 1

StopIteration:

In [ ]:
gen = (x**2 for x in range(5))

In [ ]:
next(gen)

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

**Special Methods, Dunder methods,magic methods. because they implicilty "under the hood" calls the __func__ functions like init,new etc.**

In [ ]:
class Point:
  def __init__(self,x,y):
    self.x = x
    self.y = y
p = Point(23,40)
p.x,p.y

(23, 40)

In [ ]:
#This code displays the 'magic methods' inherited by int,str and float class.
print(dir(str)),print(dir(int)),print(dir(float))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']
['__abs__', '__add__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getformat__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__int__', '__le__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', 'as_integer_ratio', 'conjugate', 'fromhex', 'hex', 'imag', 'is_integer', 'real']

(None, None, None)

In [ ]:
class Bag:
    def __init__(self, items):
        self.items = items

    def __len__(self):  # Automatically called by len(bag)
        return len(self.items)

    def __add__(self, other):  # Called by bag1 + bag2
        return Bag(self.items + other.items)

    def __eq__(self, other):  # Called by bag1 == bag2
        return self.items == other.items

bag1 = Bag(['apple', 'banana'])
bag2 = Bag(['apple', 'banana'])
bag3 = Bag(['chips'])

print(len(bag1))      # Calls __len__
print(bag1 + bag3)    # Calls __add__
print(bag1 == bag2)   # Calls __eq__

In [ ]:
item1 = 1
item2 = 4
def add():  # Called by bag1 + bag2
    return item1 + item2

In [ ]:
add()

5

**Object Oriented Programming (OOP in Python)**

**Classes - Class is like an object constructors or a blueprint for creating objects - "Almost everything in Python is an object, with its properties and methods."**

In [21]:
class Person:
    def __init__(self, age):
        print("Constructor (__init__) is running...")
        self.age = age
        print("Age has been set.")

print("Creating object now...")
# Explicitly call the default __new__ from the object class
instance = object.__new__(Person)  # Create instance without initializing
instance1 = object.__new__(Person)  # Create instance without initializing
"""new object and __new__ is allocating the different memory locations
to both of them. so 'is' op would not work on them.
"""
print("Object created by __new__:", instance)
print("Object1 created by __new__:", instance1)
instance.__init__(20)  # Manually call __init__ to initialize
print("Age of person:", instance.age)

Creating object now...
Object created by __new__: <__main__.Person object at 0x7c1c5c57a810>
Object1 created by __new__: <__main__.Person object at 0x7c1c5c57ac10>
Constructor (__init__) is running...
Age has been set.
Age of person: 20

In [18]:
class Person:
  def __init__(self, age):
    print("Constructor (__init__) is running...")
    self.age = age
    print("Age has been set.")

print("""this will be print first and then next line and then move to the #8 line for creating
the object and then to the __init__ and set the value and then printed")
print("Creating object now...""")
p1 = Person(40)  # __init__ is called
print("Object created.")
print("Age of person:", p1.age)

this will be print first and then next line and then move to the #8 line for creating
the object and then to the __init__ and set the value and then printed")
print("Creating object now...
Constructor (__init__) is running...
Age has been set.
Object created.
Age of person: 40

In [33]:
class Person:
    def __new__(cls, name, age):
        print(f"In __new__: Creating instance")
        instance = super().__new__(cls)
        instance.name = "DefaultName"  # Set in __new__
        instance.age = 0              # Set in __new__
        return instance

    def __init__(self, name, age):
        print(f"In __init__: Initializing instance")
        self.name = name  # Overrides name from __new__
        self.age = age    # Overrides age from __new__

    def __str__(self):
        return f"Name: {self.name}, Age: {self.age}"

# Create an instance
person = Person("Alice", 25)
print(person)
# print(person.name,person.age)# not need to use __str__

In __new__: Creating instance
In __init__: Initializing instance
Name: Alice, Age: 25

In [29]:
#If __new__ sets attributes that __init__ doesn’t touch, those attributes remain unchanged:
class Person:
    def __new__(cls, name, age):
        instance = super().__new__(cls)
        instance.created = True  # Set in __new__, not touched by __init__
        return instance

    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self):
        return f"Name: {self.name}, Age: {self.age}, Created: {self.created}"

person = Person("Alice", 25)
print(person)

Name: Alice, Age: 25, Created: True

In [ ]:
class MyClass:
    def __new__(cls):
        print("In __new__")
        return "Fake object"

    def __init__(self):
        print("In __init__")

obj = MyClass()
print(obj)
"""__init__ is not even called, because __new__ didn’t return a real instance of MyClass.
#output: In __new__
"Fake object"

"""

In [35]:
#very basic example
class MyClass: #class name
  x = 5  # property
  y = 4

In [1]:
class Employee:
    def __new__(cls, *args, **kwargs):
        print("[__new__] cls:", cls)
        print("[__new__] args:", args)
        instance = super().__new__(cls)
        return instance

    def __init__(self, name, age, department):
        print("[__init__] self:", self)
        print("[__init__] name:", name)
        print("[__init__] age:", age)
        print("[__init__] dept:", department)
        self.name = name
        self.age = age
        self.department = department

e = Employee("Alice", 30, "IT")

[__new__] cls: <class '__main__.Employee'>
[__new__] args: ('Alice', 30, 'IT')
[__init__] self: <__main__.Employee object at 0x7e142ea06ed0>
[__init__] name: Alice
[__init__] age: 30
[__init__] dept: IT

In [26]:
p1 = MyClass()
print(p1.x + p1.y)
print("is MyClass is child of Object built-in class", issubclass(MyClass,object))

9
is MyClass is child of Object built-in class True

**init** method in classes.

In [ ]:
"""All classes have a function called __init__(), which is always executed when the class is
being initiated(or the object of class is created(__new__ for ref), if 5objects created it (init) will be called 5 times).
Use the __init__() function to assign values(initial values basically) to object properties,
or other operations that are necessary to do when the object is being created"""
class Person:
  def __init__(self, name, age):
     self.name = name
     self.age = age

In [ ]:
p2 = Person("shahzaib", 23)
print(p2.name, p2.age)

shahzaib 23

**Note: The __ init __() function is called automatically every time the class is being used to create a new object.**

In [4]:
class Person:
  def __init__(self, age):
    print("Constructor (__init__) is running...")
    self.age = age
    print("Age has been set.")
  def display(self):
    return f"Age: {self.age}"

print("Creating object now...")
p1 = Person(40)  # __init__ is called
print("Object created.")
print("Age of person:", p1.age)
print("Age of person using my function:", p1.display())

Creating object now...
Constructor (__init__) is running...
Age has been set.
Object created.
Age of person: 40
Age of person using my function: Age: 40

In [5]:
class House:
    def __init__(self, wall_material):
        self.set_wall_material(wall_material)

    def set_wall_material(self, wall_material):
        self.wall_material = wall_material

    def get_wall_material(self):
        return self.wall_material

# Example usage
print("Creating a new house...")
print("This will print first, then create the object, and finally call the __init__ method to set the wall material.")
if __name__ == "__main__":
    my_house = House("Brick")
    print(f"Wall material of my house: {my_house.get_wall_material()}")

    my_house.set_wall_material("Wood")
    print(f"Updated wall material of my house: {my_house.get_wall_material()}")

Creating a new house...
This will print first, then create the object, and finally call the __init__ method to set the wall material.
Wall material of my house: Brick
Updated wall material of my house: Wood

**How does object create and how does class(abject) gets  called using (_call __)function in type(parent of class) and then in __new() and then in __init()**
here is a complete lifecycle

In [6]:
class Employee:
    def __new__(cls, *args, **kwargs):
        print("[__new__] cls:", cls)
        print("[__new__] args:", args)
        instance = super().__new__(cls)
        return instance

    def __init__(self, name, age, department):
        print("[__init__] self:", self)
        print("[__init__] name(self):", self.name if hasattr(self, 'name') else None)# testing if name is empty
        print("[__init__] name:", name)
        print("[__init__] age:", age)
        print("[__init__] dept:", department)
        self.name = name
        self.age = age
        self.department = department
    def dispaly_info(self):
        return f"Name: {self.name}, Age: {self.age}, Department: {self.department}"

e = Employee("Alice", 30, "IT")
e1 = Employee("Alice", 100, "HR")
print("Employee created:", e)
print("Employee created1:", e1)

# print("Name:", e.name)
# print("age:", e.age)
# print("Department:", e.department)
print("Employee Info:", e.dispaly_info())
print("Employee Info:", e1.dispaly_info())
 # This will return False since they are different instances
print("Are e and e1 the same instance?", e is e1)  # Should print False

[__new__] cls: <class '__main__.Employee'>
[__new__] args: ('Alice', 30, 'IT')
[__init__] self: <__main__.Employee object at 0x7e13fe2b9990>
[__init__] name(self): None
[__init__] name: Alice
[__init__] age: 30
[__init__] dept: IT
[__new__] cls: <class '__main__.Employee'>
[__new__] args: ('Alice', 100, 'HR')
[__init__] self: <__main__.Employee object at 0x7e13fe28f790>
[__init__] name(self): None
[__init__] name: Alice
[__init__] age: 100
[__init__] dept: HR
Employee created: <__main__.Employee object at 0x7e13fe2b9990>
Employee created1: <__main__.Employee object at 0x7e13fe28f790>
Employee Info: Name: Alice, Age: 30, Department: IT
Employee Info: Name: Alice, Age: 100, Department: HR
Are e and e1 the same instance? False

In [7]:
class Employee:
    def __init__(self, name, position, salary):
        self.name = name
        self.position = position
        self.salary = salary

    def display_details(self):
        return f"Name: {self.name}, Position: {self.position}, Salary: ${self.salary}"

# Real case scenario
e1 = Employee("Alice", "Software Engineer", 85000)
e2 = e1.display_details()
print(e2)#little lengthy but it is making more sense to use the method to display details

Name: Alice, Position: Software Engineer, Salary: $85000

**Use cases: Singleton Pattern > Subclassing built-in immutable types > Custom Object Allocation >Metaprogramming (Frameworks) for these 4 use cases. __init is not enough to handle them, so here __new comes into play.**

**Singlerton:**
**how to prevent init to creating multiple objects** **and what ever the __new() dunder method will give to __init() dunder, it will only use that and this __init() has NO power to 'return' anythying, but if __new() dont want to give anythying to and simply returns on his own behalf(new has the power to return) then debugger will not enter into the __init**

In [13]:
class Singleton:
    _instance = None
    _initialized = False

    def __new__(cls, name):
        if cls._instance is None:
            print("__new__: Creating singleton instance")
            cls._instance = super().__new__(cls)
        else:
            print("__new__: Returning existing instance")
        return cls._instance

    def __init__(self, name):
        if not self._initialized:
            print(f"__init__: Initializing with name = '{name}'")#we eliminate the power of __init__ creating the new instances by __new__ (use case Db string)
            self.name = name
            Singleton._initialized = True
        else:
            print("__init__: Already initialized, skipping re-init")


a = Singleton("Alice")
print(a.name)
b = Singleton("Bob")
print(b.name)
print(id(a)) #138624153814032
print(id(b)) #138624153814032
print(a is b)# pointing towards the same reference - True
a == b # also true . idk even 800 and 670 as well (greater than > 256(out of -5 to 256 range))

__new__: Creating singleton instance
__init__: Initializing with name = 'Alice'
Alice
__new__: Returning existing instance
__init__: Already initialized, skipping re-init
Alice
138624146334352
138624146334352
True

True

In [15]:
#Subclassing built-in immutable types
#Use __new__ only in advanced scenarios, like when subclassing immutable types (e.g., str, int).(below explananation)
#3 others > Singleton Pattern > Custom Object Allocation > Metaprogramming (Frameworks)
# In Python, immutable types like str and int cannot be modified after creation.
# If you want to create a subclass of an immutable type, you must override the __new__ method to create a new instance of the class.


#Let’s say you want to subclass str and force it to be always uppercase.


#__init__ won’t work

class MyString(str):
    def __init__(self, value):
        print("init called")
        self = value.upper()  # this has no effect
s = MyString("hello")
print(s)  # still prints "hello"
# To ensure the string is always uppercase, we need to override __new__ instead of __init__.

init called
hello

**To ensure the string is always uppercase, we need to override new__ instead of init__.**
**so we will use new instead of init**

In [16]:
class MyString(str):
    def __new__(cls, value):
        print("new called")
        obj = super().__new__(cls, value.upper())
        return obj
s = MyString("hello")
print(s)  # ✅ HELLO

new called
HELLO

**Encapsulation**

In [14]:
# Encapsulation is one of the fundamental principles of Object-Oriented Programming (OOP).
# It refers to the bundling of data (attributes) and methods (functions) that operate on the data into a single unit, called a class.
# Encapsulation also restricts direct access to some of the object's components, which is achieved using access modifiers.

class BankAccount:
    """
    A class to represent a bank account.
    This class demonstrates encapsulation by restricting access to sensitive data like the account balance.
    """

    def __init__(self, account_holder, initial_balance):
        # Public attribute: account_holder can be accessed directly.
        self.account_holder = account_holder

        # Private attribute: balance is prefixed with an underscore to indicate restricted access.
        # It cannot be accessed directly outside the class.
        self.__balance = initial_balance

    def deposit(self, amount):
        """
        Public method to deposit money into the account.
        This method allows controlled access to modify the balance.
        """
        if amount > 0:
            self.__balance += amount
            print(f"Deposited {amount}. New balance: {self.__balance}")
        else:
            print("Deposit amount must be positive.")

    def withdraw(self, amount):
        """
        Public method to withdraw money from the account.
        This method ensures controlled access to the balance and prevents overdrawing.
        """
        if 0 < amount <= self.__balance:
            self.__balance -= amount
            print(f"Withdrew {amount}. New balance: {self.__balance}")
        else:
            print("Invalid withdrawal amount or insufficient funds.")

    def get_balance(self):
        """
        Public method to retrieve the current balance.
        This method provides read-only access to the private balance attribute.
        """
        return self.__balance

# Example usage of the BankAccount class
if __name__ == "__main__":

    print("Creating a new bank account...")
    print("This will print first, then create the object, and finally call the __init__ method to set the initial balance.")
    print("Creating object now...")

    # Create a new bank account
    account = BankAccount("John Doe", 1000)

    # Access public attribute
    print(f"Account Holder: {account.account_holder}")

    # Deposit money
    account.deposit(500)

    # Withdraw money
    account.withdraw(300)

    # Retrieve the balance using the public method
    print(f"Current Balance: {account.get_balance()}")

    # Attempt to access the private attribute directly (not recommended)
    # This will raise an AttributeError because __balance is private.
    try:
        print(account.__balance)
    except AttributeError:
        print("Cannot access private attribute __balance directly.")

Creating a new bank account...
This will print first, then create the object, and finally call the __init__ method to set the initial balance.
Creating object now...
Account Holder: John Doe
Deposited 500. New balance: 1500
Withdrew 300. New balance: 1200
Current Balance: 1200
Cannot access private attribute __balance directly.

**__new is capaable of returnning** but __init is not
example below:

In [17]:
# class MyClass:
#     def __new__(cls):
#         print("In __new__")
#         return "Fake object"

#     def __init__(self):
#         print("In __init__")

# obj = MyClass()
# print(obj)
# class MyClass:
#     def __new__(cls):
#         print("Creating instance")
#         return super().__new__(cls)

#     def __init__(self):
#         print("Initializing instance")

# obj = MyClass()
# print("Instance created:", obj)

# debugger dont even enter into the __init (vs-code)
class MyClass:
    def __new__(cls):
        print("In __new__")
        return "Fake object"
    def __init__(self):
        print("In __init__")

obj = MyClass()
print(obj)

In __new__
Fake object